body {
  background-color: black;
  font-family: sans-serif;
  font-weight: 400;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 3rem;
}

.video-wrapper {
  width: 92%;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  --plyr-color-main: #1ac266;
}

.audio-wrapper {
  width: 70%;
  padding: 20px;
  display: block;
  margin-top: auto;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  --plyr-color-main: #1ac266;
}

@media screen and (max-width: 480px) {
  .audio-wrapper {
  width: 90%;
  }
}